<div class="container">
  <div class="row">
    <div class=col-md-4>
      <h4>Klant ID: {{products.customer_id}}</h4>
    </div>
    <div class=col-md-4>
      <h4>Order ID: {{products.order_id}}</h4>
    </div>
    <div class=col-md-4>
      <h4>Order Status: {{products.order_status}}</h4>
    </div>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Naam</th>
      <th>Product Prijs</th>
      <th>Product Aantal</th>
      <th>Product Totaalprijs</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency:"€":2}}</td>
      <td>{{product.amount}}</td>
      <td>{{(product.price) * (product.amount) | currency:"€":2}}</td>
      <td>
        <button class="btn btn-primary" ng-click="removeProduct(product)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <button class="btn btn-primary" ng-click="emptyCart()">Empty cart</button>
  <a href="#/order"><button class="btn btn-primary">Checkout</button></a>
</div>
