<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Naam</th>
      <th>Product Prijs</th>
      <th>Product Aantal</th>
      <th>Product Totaalprijs</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in products">
      <td>{{product.content.id}}</td>
      <td>{{product.content.name}}</td>
      <td>{{product.content.price | currency:"€":2}}</td>
      <td id="amount">{{product.content.amount}}</td>
      <td>{{(product.content.price) * (product.content.amount) | currency:"€":2}}</td>
      <td>
        <button id="remove" class="btn btn-primary" ng-click="removeProduct(product)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="cartOptions" class="container" ng-show="products.length > 0 ? true : false">
  <button id="empty" class="btn btn-primary" ng-click="emptyCart()">Empty cart</button>
  <a href="#/order">
    <button class="btn btn-primary">Checkout</button>
  </a>
</div>
