<div>

  <div class="row top-buffer">
    <form>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>
        <tr ng-repeat="product in products">
          <td>
            {{ product.name }}
          </td>
          <td>
            {{ product.price | currency:"€":2 }}
          </td>
          <td>
            <button class="btn btn-success" ng-click="addToCart(product)">Add to cart</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

</div>
