<div>

  <table class="table">
    <tr>
      <th>Order State</th>
      <th>Order ID</th>
      <th>Total Amount</th>
      <th>More info</th>
    </tr>
    <tr ng-repeat="order in oldOrders.content">
      <td>
        {{order.orderStatus.toUpperCase()}}
      </td>
      <td>
        {{order.id}}
      </td>
      <td>
        {{order.totalPrice | currency:"€":2}}
      </td>
      <td>
        <a ui-sref="test({orderId: order.orderId})" href="/#/orders/{{order.orderId}}"  ng-click="getOrder()">view more...</a>
      </td>
    </tr>
  </table>
</div>






