<div class="row top-buffer">
  <div class="row">
    <h3>Order details</h3>
  </div>
  {{orderInfo}}
  <div class="row">
    <label>Order number: </label> {{orderInfo.content.orderId}}<br/>
    <label>Order status: </label> {{orderInfo.content.orderStatus}}<br/>
    <label>Delivery status: </label> {{orderInfo.content.deliveryStatus}}
  </div>

  <div class="row pull-right bottom-buffer">
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="editOrder(orderInfo.content)">Edit</button>
      <button class="btn btn-primary" ng-click="cancelOrder(orderInfo.content)">Cancel</button>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>
          Name
        </th>
        <th>
          Amount
        </th>
        <th>
          Price
        </th>
        <th>
          Total Price
        </th>
      </tr>
      <tr ng-repeat="product in orderInfo.content.products">
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.amount }}
        </td>
        <td>
          {{ product.price | currency:"€":2 }}
        </td>
        <td>
          {{ (product.price) * (product.amount) | currency:"€":2 }}
        </td>
      </tr>
    </table>
    <strong>
      Total: {{orderInfo.content.totalPrice | currency:"€":2}}
    </strong>
  </div>
</div>
