<div>

  <table class="table">
    <tr>
      <th>Order Date</th>
      <th>Order ID</th>
      <th>Total Amount</th>
    </tr>
    <tr ng-repeat="order in oldOrders.content">
      <td>
        {{order.content.orderStatus}}
      </td>
      <td>
        {{order.content.orderId}}
      </td>
      <td>
        {{order.content.totalPrice}}
      </td>
      <td>
        <a href="#/orders/{{order.content.orderId}}" ng-click="getOrder(order.content.orderId)">view more...</a>
      </td>
    </tr>
  </table>

  {{oldOrders}}
</div>






