<div>

  <table class="table">
    <tr>
      <th>Order Date</th>
      <th>Order ID</th>
      <th>Total Amount</th>
      <th>More info</th>
    </tr>
    <tr ng-repeat="order in oldOrders.content">
      <td>
        {{order.content.orderStatus}}
      </td>
      <td>
        {{order.content.id}}
      </td>
      <td>
        {{order.content.totalPrice | currency:"€":2}}
      </td>
      <td>
        <a ui-sref="test({orderId: order.content.orderId})" href="/#/orders/{{order.content.orderId}}"  ng-click="getOrder(order.content.orderId)">view more...</a>
      </td>
    </tr>
  </table>
</div>






